/*Paleta de cores*/
.bg-primary-color{
    background-color: #8AC900;
}

.bg-dark-color{
    background-color: black;
}

.color-primary{
    color: #8AC900;
}

/*Formatação*/
*{
    margin: 0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

/*Logo-Wcriarte*/

.container-login{
    margin-top: 120px;
}

.logo-text{
    font-size: 20pt;
    color:white;
    font-weight: 300;
}

/*Botão login*/

.linkBotao{
    text-decoration: none;
}

.btn-login:disabled{
    background-color: rgb(175, 175, 175);
    color:rgb(109, 109, 109);
}

.btn-login:disabled:hover{
    background-color: rgb(175, 175, 175);
    color:rgb(109, 109, 109);
}

.btn-login{
    width: 120px;
    border:none;
    height: 35px;
    border-radius:5px;
}

.btn-login:hover{
    background-color: #5b8500;
    color:white;
}

/*Links de Recuperação*/

.links-recuperacao{
    width: 100%;
    margin-left:0.5vw;
    
}

.links-recuperacao a{
    font-size:10pt;
    color:#8AC900;
    text-decoration: none;
}

.links-recuperacao a:hover{
    color: white;
    text-decoration: underline;
}

/*Dashboard links*/

.nav-link:hover{
    text-decoration: underline;
}

/*Nav-mobile*/

.nav-mobile{
    height: 70px;
    width: 100%;
}
.nav-mobile img{
    width: auto;
    margin:0 auto;
}

.btn-menu-mobile{
    background-color: transparent;
    color: #8AC900;
    border:1px solid #8AC900;
    border-radius:5px;
    font-size:22pt;
    height:43px;
    width: 45px;
    margin:auto 20px auto -50px;
}

/*Responsividade para Mobile*/
#dashboardDesktop{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

#navMobile{
    display: none;
}